ipykernel 
pandas
numpy 
scikit-learn
pdfminer.six
docx2txt 
mail-parser
sentence-transformers 
spacy
faiss-cpu
uvicorn
fastapi
requests
python-multipart
asyncio 
python-magic
python-dotenv
cachetools
gunicorn

